{% block ywc_autocomplete_widget %}
	{% spaceless %}
		<div class="ywc_autocomplete_widget" data-type="{{ ywc_autocomplete_type }}" >
			<input type="text" value="{{ text_value }}" />
			<input type="hidden" value="{{ value }}" {{ block('widget_attributes') }} />
		</div>
	{% endspaceless %}	
{% endblock %}
{% block ywc_slider_widget %}
	{% spaceless %}
		<div class="ywc_slider_widget">
			<div data-max="{{ ywc_max }}" data-min="{{ ywc_min }}" class="slider" data-value="{% if value is empty %}0{% else %}{{ value }}{% endif %}"></div>
			<div>{% if value is empty %}0{% else %}{{ value }}{% endif %}</div>
			<input type="hidden" value="{{ value }}" {{ block('widget_attributes') }} />
		</div>
	{% endspaceless %}	
{% endblock %}

